apiVersion: rainbond.io/v1alpha1
kind: RainbondCluster
metadata:
  annotations:
    enterprise_id: {{ EID }}
    install_id: {{ IID }}
  name: rainbondcluster
  namespace: rbd-system
spec:
  configCompleted: true
  enableHA: false
  gatewayIngressIPs:
  - {{ EIP }}
  installMode: WithoutPackage
  installVersion: {{ RBD_VERSION }}
  installPackageConfig:
    md5: 9ca4afab83272b52b997bcfc2062f1999654c15bbbc2da1fdb1da478fbe77f83
    url: https://rainbond-pkg.oss-cn-shanghai.aliyuncs.com/offline/5.2/rainbond.images.2020-04-16-v5.2.0-release.tgz
  nodesForChaos:
  - internalIP: {{ IIP }}
    name: {{ IIP }}
  nodesForGateway:
  - internalIP: {{ IIP }}
    name: {{ IIP }}
  rainbondImageRepository: registry.cn-hangzhou.aliyuncs.com/goodrain
  suffixHTTPHost: {{ DOMAIN }}