apiVersion: v1
items:
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: dashboard-metrics-scraper
    name: dashboard-metrics-scraper
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/metrics-scraper:v1.0.4
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: kubernetes-dashboard
    name: kubernetes-dashboard
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/kubernetes-dashboard:v2.0.1-3
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: metrics-server
    name: metrics-server
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/metrics-server:v0.3.6
    imagePullPolicy: IfNotPresent
    logLevel: info
    priorityComponent: false
    replicas: 1
    type: metrics-server
    version: v0.3.6
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: nfs-provisioner
      priorityComponent: "true"
    name: nfs-provisioner
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/nfs-provisioner:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: true
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-api
    name: rbd-api
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-api:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-app-ui
    name: rbd-app-ui
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-app-ui:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-chaos
    name: rbd-chaos
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-chaos:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-db
    name: rbd-db
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-db:8.0.19
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-etcd
      priorityComponent: "true"
    name: rbd-etcd
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/etcd:v3.3.18
    imagePullPolicy: IfNotPresent
    priorityComponent: true
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-eventlog
    name: rbd-eventlog
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-eventlog:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-gateway
      priorityComponent: "true"
    name: rbd-gateway
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-gateway:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: true
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-hub
      priorityComponent: "true"
    name: rbd-hub
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/registry:2.6.2
    imagePullPolicy: IfNotPresent
    priorityComponent: true
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-monitor
    name: rbd-monitor
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-monitor:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-mq
    name: rbd-mq
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-mq:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-node
      priorityComponent: "true"
    name: rbd-node
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-node:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: true
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-repo
    name: rbd-repo
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-repo:6.16.0
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-webcli
    name: rbd-webcli
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-webcli:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
- apiVersion: rainbond.io/v1alpha1
  kind: RbdComponent
  metadata:
    labels:
      belongTo: rainbond-operator
      creator: Rainbond
      name: rbd-worker
    name: rbd-worker
    namespace: rbd-system
  spec:
    image: {{ IMAGE_URL }}/rbd-worker:{{ RBD_VERSION }}
    imagePullPolicy: IfNotPresent
    priorityComponent: false
    replicas: 1
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""